@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbars {
  -ms-overflow-style: none !important; /* Internet Explorer 10+ */
  scrollbar-width: none !important; /* Firefox */
}

.hide-scrollbars::-webkit-scrollbar {
  display: none !important; /* Safari and Chrome */
}